<div class="mh-portfolio-modal" id="mh1">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>CrypteX - Your Ultimate Cryptocurrency Platform</h2>
                <p>
                    CrypteX is a clean and elegant frontend website designed for cryptocurrency enthusiasts and investors.
                    It will fit perfectly for any cryptocurrency-related project, providing a comprehensive platform for managing digital assets.
                    It features modern design aesthetics with a user-friendly interface to cater to both novice and experienced users.
                </p>

                <p>
                    CrypteX offers a seamless experience with 4 different background styles and 6 homepage styles, allowing users to customize their experience to match their preferences.
                    The website includes 6 pre-defined color schemes, ensuring a visually appealing and consistent look across all pages. Each variation is meticulously organized,
                    making it easy to use and customize according to individual needs. It is designed to seed trendings, helping users stay up-to-date with the latest developments in the cryptocurrency world.


                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>html</span></li>
                        <li><span>css</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>Jquery</span></li>
                        <li><span>NodeJs</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/crypto_prev1.png" alt="" class="img-fluid">
                    <p></p>
                    <img src="/static/assets/images/crypto_prev2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div> 

{% comment %} 2 {% endcomment %}
<div class="mh-portfolio-modal" id="mh2">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>Professional Portfolio - Showcasing Your Expertise</h2>
                <p>
                    The Professional Portfolio is a clean and elegant frontend website designed to highlight your skills, experience, and projects.
                    It is perfect for professionals in any field who want to showcase their work and accomplishments in a polished and professional manner.
                    This portfolio features modern design aesthetics with a user-friendly interface, making it easy for visitors to navigate and explore your content.
                </p>

                <p>
                    The Professional Portfolio offers a seamless experience
                    allowing you to customize your site to match your personal brand and preferences. The website includes 6 pre-defined color schemes,
                    ensuring a visually appealing and consistent look across all pages. Each variation is meticulously organized, making it easy to use and customize according to individual needs.
                    It is designed to help you stand out and seed trendings in your professional network.
                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>Python</span></li>
                        <li><span>Django</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>HTML</span></li>
                        <li><span>CSS</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/portfolio/portfolio2.png" alt="" class="img-fluid">
                    <p></p>
                    <img src="static/assets/images/portfolio/portfolio1.png" alt="" class="img-fluid">
                    
                </div>
            </div>
        </div>
    </div>
</div> 
{% comment %} 3 {% endcomment %}
<div class="mh-portfolio-modal" id="mh3">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>School Management System - Streamline Your Educational Operations</h2>
                <p>
                    The School Management System (SMS) is a comprehensive and user-friendly platform designed to streamline and enhance the administrative and academic processes 
                    of educational institutions. It is perfect for schools, colleges, and universities seeking to improve their operational efficiency and provide a better experience for staff, students, and parents.
                </p>

                <p>
                    The School Management System offers a wide range of features, including student enrollment, attendance tracking, grade management, timetable scheduling, and communication tools.
                    It enables administrators to manage school operations effectively, while teachers can easily organize classes, track student progress, and communicate with parents.
                    The system also provides parents with access to their child's academic records and school updates, fostering better engagement and transparency.
                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>Django</span></li>
                        <li><span>Python</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>HTML</span></li>
                        <li><span>CSS</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/portfolio/lms1.jpg" alt="" class="img-fluid">
                    <p></p>
                    <img src="/static/assets/images/portfolio/lms4.png" alt="" class="img-fluid">
                    <p>All variations are organized separately so you can use / customize the template very
                        easily.</p>
                </div>
            </div>
        </div>
    </div>
</div> 


{% comment %} 4 {% endcomment %}
<div class="mh-portfolio-modal" id="mh4">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>Learning Management System - Elevate Your Educational Experience</h2>
                <p>
                    The Learning Management System (LMS) is a robust and intuitive platform designed to facilitate and enhance the educational
                    experience for both educators and learners. It is ideal for schools, universities, training centers, and any organization looking 
                    to deliver quality online education. This LMS combines modern design with a user-friendly interface, making it easy for users to navigate and engage with the content.
                </p>

                <p>
                    The Learning Management System offers a comprehensive suite of features, including course creation, student enrollment, progress tracking, and assessment tools.
                    It allows educators to create and manage courses efficiently, providing students with access to a wide range of learning materials and resources. The system supports various types of content,
                    such as videos, quizzes, and assignments, to cater to different learning styles and preferences.
                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>Django</span></li>
                        <li><span>Python</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>HTML</span></li>
                        <li><span>CSS</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/crypto_prev1.png" alt="" class="img-fluid">
                    <p></p>
                    <img src="/static/assets/images/crypto_prev2.png" alt="" class="img-fluid">
                    <p>All variations are organized separately so you can use / customize the template very
                        easily.</p>
                </div>
            </div>
        </div>
    </div>
</div> 

{% comment %} 5 {% endcomment %}
<div class="mh-portfolio-modal" id="mh1">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>CrypteX - Your Ultimate Cryptocurrency Platform</h2>
                <p>
                    CrypteX is a clean and elegant frontend website designed for cryptocurrency enthusiasts and investors.
                    It will fit perfectly for any cryptocurrency-related project, providing a comprehensive platform for managing digital assets.
                    It features modern design aesthetics with a user-friendly interface to cater to both novice and experienced users.
                </p>

                <p>
                    CrypteX offers a seamless experience with 4 different background styles and 6 homepage styles, allowing users to customize their experience to match their preferences.
                    The website includes 6 pre-defined color schemes, ensuring a visually appealing and consistent look across all pages. Each variation is meticulously organized,
                    making it easy to use and customize according to individual needs. It is designed to seed trendings, helping users stay up-to-date with the latest developments in the cryptocurrency world.


                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>html</span></li>
                        <li><span>css</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>Jquery</span></li>
                        <li><span>NodeJs</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/crypto_prev1.png" alt="" class="img-fluid">
                    <p></p>
                    <img src="/static/assets/images/crypto_prev2.png" alt="" class="img-fluid">
                    <p>All variations are organized separately so you can use / customize the template very
                        easily.</p>
                </div>
            </div>
        </div>
    </div>
</div> 
{% comment %} 5 {% endcomment %}
<div class="mh-portfolio-modal" id="mh1">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
            <div class="col-sm-5">
                <h2>CrypteX - Your Ultimate Cryptocurrency Platform</h2>
                <p>
                    CrypteX is a clean and elegant frontend website designed for cryptocurrency enthusiasts and investors.
                    It will fit perfectly for any cryptocurrency-related project, providing a comprehensive platform for managing digital assets.
                    It features modern design aesthetics with a user-friendly interface to cater to both novice and experienced users.
                </p>

                <p>
                    CrypteX offers a seamless experience with 4 different background styles and 6 homepage styles, allowing users to customize their experience to match their preferences.
                    The website includes 6 pre-defined color schemes, ensuring a visually appealing and consistent look across all pages. Each variation is meticulously organized,
                    making it easy to use and customize according to individual needs. It is designed to seed trendings, helping users stay up-to-date with the latest developments in the cryptocurrency world.


                </p>
                <div class="mh-about-tag">
                    <ul>
                        <li><span>html</span></li>
                        <li><span>css</span></li>
                        <li><span>JavaScript</span></li>
                        <li><span>Jquery</span></li>
                        <li><span>NodeJs</span></li>
                    </ul>
                </div>
                <a href="#" class="btn btn-fill">Live Demo</a>
            </div>
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/crypto_prev1.png" alt="" class="img-fluid">
                    <p></p>
                    <img src="/static/assets/images/crypto_prev2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div> 


                                    {% comment %}  Certifications{% endcomment %}
<div class="mh-portfolio-modal" id="ct1">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
           
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/cerificate/AWS.png" alt="" class="img-fluid">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="mh-portfolio-modal" id="ct2">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
           
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/cerificate/IBM.png" alt="" class="img-fluid">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="mh-portfolio-modal" id="ct3">
    <div class="container">
        <div class="row mh-portfolio-modal-inner">
           
            <div class="col-sm-7">
                <div class="mh-portfolio-modal-img">
                    <img src="/static/assets/images/cerificate/LINUX.png" alt="" class="img-fluid">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div> 